Main {margin-left: 225px;}
.card {height: 100%;}
.chartWrap{
    position: relative;
    width: 300px;
    height: 300px;
    margin:100px;
}
.chart {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: 0.3s;
    background:lightgray;
    display:inline-block;
}
.chart:after{
    content:'';
    background: #fff;
    position: absolute;
    top:50%; left:50%;
    width:170px; height:170px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.chart-bar{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    position: relative;
}

.chart-total{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:gray;
    width:100%;
}
.chart-total span{
    position: absolute;
    color:#777;
}
.chart-total-num{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.3rem;
    font-weight:bold;
    color:#333;
}
.chart-total-text1{
    top:-150px;right:-10px;
}
.chart-total-text2{
    top:-50px;right:-70px;
}
.chart-total-text3{
    top:120px;right:30px;
}
.chart-total-text4{
    top:0;left:-70px;
}
