.wrap {
  display: flex;
  width: 1440px;
  height: 100vh;
}

#layoutSidenav_nav {
  flex-basis: 225px;
  flex-shrink: 0;
  z-index: 1038;
  height: 100%;
}

.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
  margin-right: 0.5rem;
}

.sb-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
}

.sb-sidenav .sb-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
  padding: 1.25rem 1rem 0.75rem; /*0626 helloalpaca: top: 1.75rem에서 수정*/
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.sb-sidenav-logo {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
  font-size: 0.9rem;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
  margin-left: 1.5rem;
  flex-direction: column;
}

.sb-sidenav .sb-sidenav-footer {
  width: 100%;
  padding: 0.75rem;
  flex-shrink: 0;
  text-align: end;
}

.sb-sidenav .sb-sidenav-footer-employee {
  padding: 0.75rem;
  flex-shrink: 0;
}

.sb-sidenav-dark {
  background-color: #212529;
  /* color: rgba(255, 255, 255, 0.5); */
  color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
  /* color: rgba(255, 255, 255, 0.25); */
  color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  /* color: rgba(255, 255, 255, 0.5); */
  color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  /* color: rgba(255, 255, 255, 0.25); */
  color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  /* color: rgba(255, 255, 255, 0.25); */
  color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
  color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
  color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #fff;
}

.sb-sidenav-dark .sb-sidenav-footer {
  background-color: #343a40;
}

.sb-sidenav-dark .sb-sidenav-footer-employee {
  color: #000;
  background-color: #D8E6E7;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
  transform: rotate(-90deg);
}

.sb-sidenav-menu {
  overflow-y: auto;
}

.sb-sidenav-menu::-webkit-scrollbar {
  display: none;
}
