.form-control {
  margin: 50px;
  font-size: 30px;
}

.productItem {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.modify {
  flex-shrink: 0;
  vertical-align: middle;
  margin-left: 150px;
  height: 40px;
  width: 70px;
  color: #ffffff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.col-lg-6 {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 70px;
}

.list1 {
  margin: 30px;
  font-size: 14px;
}


.btn-sunghee {
  margin: 50px;
  --bs-btn-padding-x: 2.5rem;
}

.btn-search {
  color: #ffffff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  font-size: 20px;
}


.btn-next {
  /*flex-shrink: 0;*/
  list-style: none;
  margin: 10px;
  height: 40px;
  width: 70px;
  color: #ffffff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  float: left;
  text-decoration: none;
}


.join {
  width: 70px;
  color: #ffffff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.list {
  margin: 30px;
}

.-list- {
  list-style: none;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

.pagination {
  float: left;
  height: 40px;
  width: 70px;
  display: flex;
  margin: 10px;
  justify-content: center !important;
  flex-wrap: wrap;
  vertical-align: middle;
  text-decoration: none;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;


}
