ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
main {
  padding: 3rem;
}
.card {
  margin: 1rem;
  width: 100%;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
}
.card-title {
  font-weight: 600;
  margin-bottom: 1rem;
}
#assetChart {
  width: 300px!important;
  height: auto!important;
  padding: 1rem;
}
.componentTitle {
  font-size: 1.25rem;
  margin-right: 1rem;
  font-weight: bold;
}
.productName {
  font-weight: bold;
}
.signedupProduct > ul > li, .recommendList > li {
  line-height: 1.8rem;
}
.signedupProduct li > span, .recommendList > li > span {
  font-size: 0.9rem;
}
.recommendTitle {
  color: #555;
  text-decoration: underline currentColor;
  text-underline-position:under
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.col-span-1 {
  grid-column: span 1 / span 1;
}
